body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:484px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:910px;
}
#u13957 {
  position:absolute;
  left:109px;
  top:357px;
  width:375px;
  height:910px;
}
#u13958 {
  position:absolute;
  left:2px;
  top:447px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13959 {
  position:absolute;
  left:117px;
  top:357px;
  width:172px;
  height:292px;
}
#u13960 {
  position:absolute;
  left:2px;
  top:138px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:357px;
}
#u13961 {
  position:absolute;
  left:109px;
  top:0px;
  width:374px;
  height:357px;
}
#u13962 {
  position:absolute;
  left:2px;
  top:170px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:167px;
}
#u13963 {
  position:absolute;
  left:117px;
  top:368px;
  width:175px;
  height:166px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13964 {
  position:absolute;
  left:2px;
  top:74px;
  width:171px;
  word-wrap:break-word;
}
#u13965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13965 {
  position:absolute;
  left:117px;
  top:499px;
  width:78px;
  height:24px;
}
#u13966 {
  position:absolute;
  left:2px;
  top:3px;
  width:74px;
  word-wrap:break-word;
}
#u13967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13967 {
  position:absolute;
  left:116px;
  top:548px;
  width:145px;
  height:35px;
}
#u13968 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u13969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:2px;
}
#u13969 {
  position:absolute;
  left:117px;
  top:595px;
  width:107px;
  height:1px;
}
#u13970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u13971 {
  position:absolute;
  left:118px;
  top:599px;
  width:104px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u13972 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u13973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13973 {
  position:absolute;
  left:117px;
  top:615px;
  width:100px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13974 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u13975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13975 {
  position:absolute;
  left:241px;
  top:624px;
  width:47px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13976 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u13977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u13977 {
  position:absolute;
  left:120px;
  top:645px;
  width:41px;
  height:1px;
}
#u13978 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13979 {
  position:absolute;
  left:109px;
  top:148px;
  width:374px;
  height:160px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13980 {
  position:absolute;
  left:2px;
  top:71px;
  width:370px;
  word-wrap:break-word;
}
#u13981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:69px;
}
#u13981 {
  position:absolute;
  left:251px;
  top:368px;
  width:41px;
  height:69px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13982 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
