body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:537px;
}
#u3380 {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:537px;
}
#u3381 {
  position:absolute;
  left:2px;
  top:260px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3382 {
  position:absolute;
  left:450px;
  top:165px;
  width:505px;
  height:20px;
  color:#FF0000;
}
#u3383 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  white-space:nowrap;
}
