body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:462px;
}
#u6735 {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:462px;
}
#u6736 {
  position:absolute;
  left:2px;
  top:223px;
  width:904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:471px;
}
#u6737 {
  position:absolute;
  left:0px;
  top:495px;
  width:914px;
  height:471px;
}
#u6738 {
  position:absolute;
  left:2px;
  top:228px;
  width:910px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:470px;
}
#u6739 {
  position:absolute;
  left:0px;
  top:993px;
  width:904px;
  height:470px;
}
#u6740 {
  position:absolute;
  left:2px;
  top:227px;
  width:900px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:465px;
}
#u6741 {
  position:absolute;
  left:-7px;
  top:1486px;
  width:911px;
  height:465px;
}
#u6742 {
  position:absolute;
  left:2px;
  top:224px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
