body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:916px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:476px;
}
#u6725 {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:476px;
}
#u6726 {
  position:absolute;
  left:2px;
  top:230px;
  width:912px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:470px;
}
#u6727 {
  position:absolute;
  left:0px;
  top:509px;
  width:913px;
  height:470px;
}
#u6728 {
  position:absolute;
  left:2px;
  top:227px;
  width:909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:470px;
}
#u6729 {
  position:absolute;
  left:0px;
  top:998px;
  width:908px;
  height:470px;
}
#u6730 {
  position:absolute;
  left:2px;
  top:227px;
  width:904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:474px;
}
#u6731 {
  position:absolute;
  left:2px;
  top:1494px;
  width:909px;
  height:474px;
}
#u6732 {
  position:absolute;
  left:2px;
  top:229px;
  width:905px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:470px;
}
#u6733 {
  position:absolute;
  left:2px;
  top:1996px;
  width:907px;
  height:470px;
}
#u6734 {
  position:absolute;
  left:2px;
  top:227px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
