body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:704px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:704px;
}
#u653 {
  position:absolute;
  left:2px;
  top:344px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.117647058823529);
}
#u655 {
  position:absolute;
  left:0px;
  top:1px;
  width:1250px;
  height:64px;
}
#u656 {
  position:absolute;
  left:2px;
  top:24px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u657 {
  position:absolute;
  left:30px;
  top:25px;
  width:21px;
  height:15px;
}
#u658 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u661 {
  position:absolute;
  left:1138px;
  top:21px;
  width:25px;
  height:24px;
}
#u662 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u663 {
  position:absolute;
  left:1172px;
  top:22px;
  width:48px;
  height:22px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u665 {
  position:absolute;
  left:1096px;
  top:22px;
  width:17px;
  height:21px;
}
#u666 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u667 {
  position:absolute;
  left:1052px;
  top:23px;
  width:19px;
  height:19px;
}
#u668 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:704px;
  background:inherit;
  background-color:rgba(0, 33, 64, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  -webkit-box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
  box-shadow:2px 0px 6px rgba(0, 21, 41, 0.349019607843137);
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:704px;
}
#u671 {
  position:absolute;
  left:2px;
  top:344px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:640px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  position:absolute;
  left:0px;
  top:64px;
  width:64px;
  height:640px;
}
#u673 {
  position:absolute;
  left:2px;
  top:312px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u674 {
  position:absolute;
  left:16px;
  top:17px;
  width:32px;
  height:32px;
}
#u675 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u676 {
  position:absolute;
  left:16px;
  top:89px;
  width:32px;
  height:32px;
}
#u677 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u678 {
  position:absolute;
  left:16px;
  top:150px;
  width:32px;
  height:32px;
}
#u679 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u680 {
  position:absolute;
  left:16px;
  top:211px;
  width:32px;
  height:32px;
}
#u681 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u682 {
  position:absolute;
  left:12px;
  top:273px;
  width:35px;
  height:32px;
}
#u683 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u684 {
  position:absolute;
  left:14px;
  top:334px;
  width:33px;
  height:32px;
}
#u685 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u686 {
  position:absolute;
  left:16px;
  top:395px;
  width:32px;
  height:32px;
}
#u687 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u688 {
  position:absolute;
  left:16px;
  top:456px;
  width:32px;
  height:32px;
}
#u689 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u691 {
  position:absolute;
  left:2px;
  top:466px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u693 {
  position:absolute;
  left:1287px;
  top:18px;
  width:28px;
  height:28px;
}
#u694 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#00AEEF;
}
#u695 {
  position:absolute;
  left:1322px;
  top:27px;
  width:57px;
  height:20px;
  text-decoration:underline;
  color:#00AEEF;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u697 {
  position:absolute;
  left:1391px;
  top:18px;
  width:28px;
  height:28px;
}
#u698 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#00AEEF;
}
#u699 {
  position:absolute;
  left:1419px;
  top:28px;
  width:57px;
  height:20px;
  text-decoration:underline;
  color:#00AEEF;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
