body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u896 {
  position:absolute;
  left:2px;
  top:466px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
}
#u897 {
  position:absolute;
  left:769px;
  top:543px;
  width:51px;
  height:32px;
}
#u898 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
