body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:879px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13931 {
  position:absolute;
  left:110px;
  top:83px;
  width:774px;
  height:95px;
}
#u13932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13932 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13933 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13934 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13935 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u13936 {
  position:absolute;
  left:200px;
  top:0px;
  width:147px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13937 {
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u13938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:30px;
}
#u13938 {
  position:absolute;
  left:347px;
  top:0px;
  width:422px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13939 {
  position:absolute;
  left:2px;
  top:6px;
  width:418px;
  word-wrap:break-word;
}
#u13940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13940 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13941 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13942 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13943 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u13944 {
  position:absolute;
  left:200px;
  top:30px;
  width:147px;
  height:30px;
}
#u13945 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u13946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:30px;
}
#u13946 {
  position:absolute;
  left:347px;
  top:30px;
  width:422px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13947 {
  position:absolute;
  left:2px;
  top:6px;
  width:418px;
  word-wrap:break-word;
}
#u13948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13948 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u13949 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u13950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13950 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13951 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u13952 {
  position:absolute;
  left:200px;
  top:60px;
  width:147px;
  height:30px;
}
#u13953 {
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u13954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:30px;
}
#u13954 {
  position:absolute;
  left:347px;
  top:60px;
  width:422px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13955 {
  position:absolute;
  left:2px;
  top:6px;
  width:418px;
  word-wrap:break-word;
}
