body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:536px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:910px;
}
#u11705 {
  position:absolute;
  left:161px;
  top:357px;
  width:375px;
  height:910px;
}
#u11706 {
  position:absolute;
  left:2px;
  top:447px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11707 {
  position:absolute;
  left:169px;
  top:357px;
  width:172px;
  height:292px;
}
#u11708 {
  position:absolute;
  left:2px;
  top:138px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:357px;
}
#u11709 {
  position:absolute;
  left:161px;
  top:0px;
  width:374px;
  height:357px;
}
#u11710 {
  position:absolute;
  left:2px;
  top:170px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:167px;
}
#u11711 {
  position:absolute;
  left:169px;
  top:368px;
  width:175px;
  height:166px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11712 {
  position:absolute;
  left:2px;
  top:74px;
  width:171px;
  word-wrap:break-word;
}
#u11713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11713 {
  position:absolute;
  left:169px;
  top:499px;
  width:78px;
  height:24px;
}
#u11714 {
  position:absolute;
  left:2px;
  top:3px;
  width:74px;
  word-wrap:break-word;
}
#u11715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11715 {
  position:absolute;
  left:168px;
  top:548px;
  width:145px;
  height:35px;
}
#u11716 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u11717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:2px;
}
#u11717 {
  position:absolute;
  left:169px;
  top:595px;
  width:107px;
  height:1px;
}
#u11718 {
  position:absolute;
  left:2px;
  top:-8px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u11719 {
  position:absolute;
  left:170px;
  top:599px;
  width:104px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u11720 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u11721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11721 {
  position:absolute;
  left:169px;
  top:615px;
  width:82px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11722 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u11723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11723 {
  position:absolute;
  left:293px;
  top:624px;
  width:47px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11724 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u11725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:2px;
}
#u11725 {
  position:absolute;
  left:172px;
  top:645px;
  width:41px;
  height:1px;
}
#u11726 {
  position:absolute;
  left:2px;
  top:-8px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11727 {
  position:absolute;
  left:161px;
  top:148px;
  width:374px;
  height:160px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11728 {
  position:absolute;
  left:2px;
  top:71px;
  width:370px;
  word-wrap:break-word;
}
#u11729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:69px;
}
#u11729 {
  position:absolute;
  left:303px;
  top:368px;
  width:41px;
  height:69px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11730 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
