body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1291px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10008 {
  position:absolute;
  left:461px;
  top:0px;
  width:375px;
  height:667px;
}
#u10009 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10010 {
  position:absolute;
  left:916px;
  top:0px;
  width:375px;
  height:667px;
}
#u10011 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10012 {
  position:absolute;
  left:984px;
  top:271px;
  width:255px;
  height:63px;
}
#u10013 {
  position:absolute;
  left:2px;
  top:24px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10014 {
  position:absolute;
  left:992px;
  top:285px;
  width:239px;
  height:46px;
  font-size:16px;
}
#u10015 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u10016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u10016 {
  position:absolute;
  left:1013px;
  top:244px;
  width:105px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u10017 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u10018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10019 {
  position:absolute;
  left:21px;
  top:0px;
  width:375px;
  height:667px;
}
#u10020 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#A1A1A1;
}
#u10021 {
  position:absolute;
  left:312px;
  top:285px;
  width:65px;
  height:24px;
  font-size:14px;
  color:#A1A1A1;
}
#u10022 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u10023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u10023 {
  position:absolute;
  left:39px;
  top:332px;
  width:65px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u10024 {
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  word-wrap:break-word;
}
#u10025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#A1A1A1;
}
#u10025 {
  position:absolute;
  left:311px;
  top:332px;
  width:65px;
  height:24px;
  font-size:14px;
  color:#A1A1A1;
}
#u10026 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u10027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#A1A1A1;
}
#u10027 {
  position:absolute;
  left:315px;
  top:378px;
  width:65px;
  height:24px;
  font-size:14px;
  color:#A1A1A1;
}
#u10028 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u10029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u10029 {
  position:absolute;
  left:326px;
  top:407px;
  width:49px;
  height:24px;
  color:#A1A1A1;
}
#u10030 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u10031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u10031 {
  position:absolute;
  left:326px;
  top:431px;
  width:49px;
  height:24px;
  color:#A1A1A1;
}
#u10032 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u10033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCFF;
}
#u10033 {
  position:absolute;
  left:147px;
  top:83px;
  width:140px;
  height:24px;
  color:#00CCFF;
}
#u10034 {
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u10035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:70px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10035 {
  position:absolute;
  left:62px;
  top:504px;
  width:293px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u10036 {
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u10037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10037 {
  position:absolute;
  left:593px;
  top:270px;
  width:115px;
  height:18px;
}
#u10038 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u10039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:89px;
}
#u10039 {
  position:absolute;
  left:596px;
  top:292px;
  width:107px;
  height:88px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10040 {
  position:absolute;
  left:2px;
  top:35px;
  width:103px;
  word-wrap:break-word;
}
#u10041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:194px;
}
#u10041 {
  position:absolute;
  left:992px;
  top:334px;
  width:239px;
  height:193px;
}
#u10042 {
  position:absolute;
  left:2px;
  top:88px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10043 {
  position:absolute;
  left:986px;
  top:242px;
  width:22px;
  height:22px;
}
#u10044 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10045 {
  position:absolute;
  left:43px;
  top:687px;
  width:251px;
  height:36px;
}
#u10046 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
