body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u1380 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u1381 {
  position:absolute;
  left:2px;
  top:466px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1666px;
  height:874px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1382 {
  position:absolute;
  left:234px;
  top:75px;
  width:1666px;
  height:874px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:429px;
  width:1662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384 {
  position:absolute;
  left:250px;
  top:156px;
  width:1612px;
  height:645px;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:11px;
  width:43px;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u1387 {
  position:absolute;
  left:47px;
  top:0px;
  width:180px;
  height:40px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1389 {
  position:absolute;
  left:227px;
  top:0px;
  width:150px;
  height:40px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u1391 {
  position:absolute;
  left:377px;
  top:0px;
  width:180px;
  height:40px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:11px;
  width:176px;
  word-wrap:break-word;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u1393 {
  position:absolute;
  left:557px;
  top:0px;
  width:250px;
  height:40px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u1395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u1395 {
  position:absolute;
  left:807px;
  top:0px;
  width:200px;
  height:40px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  word-wrap:break-word;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1397 {
  position:absolute;
  left:1007px;
  top:0px;
  width:100px;
  height:40px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1399 {
  position:absolute;
  left:1107px;
  top:0px;
  width:100px;
  height:40px;
}
#u1400 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u1401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u1401 {
  position:absolute;
  left:1207px;
  top:0px;
  width:400px;
  height:40px;
}
#u1402 {
  position:absolute;
  left:2px;
  top:11px;
  width:396px;
  word-wrap:break-word;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:200px;
}
#u1403 {
  position:absolute;
  left:0px;
  top:40px;
  width:47px;
  height:200px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:92px;
  width:43px;
  word-wrap:break-word;
}
#u1405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:200px;
}
#u1405 {
  position:absolute;
  left:47px;
  top:40px;
  width:180px;
  height:200px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:91px;
  width:176px;
  word-wrap:break-word;
}
#u1407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:200px;
}
#u1407 {
  position:absolute;
  left:227px;
  top:40px;
  width:150px;
  height:200px;
}
#u1408 {
  position:absolute;
  left:2px;
  top:91px;
  width:146px;
  word-wrap:break-word;
}
#u1409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:200px;
}
#u1409 {
  position:absolute;
  left:377px;
  top:40px;
  width:180px;
  height:200px;
}
#u1410 {
  position:absolute;
  left:2px;
  top:92px;
  width:176px;
  word-wrap:break-word;
}
#u1411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u1411 {
  position:absolute;
  left:557px;
  top:40px;
  width:250px;
  height:200px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:77px;
  width:246px;
  word-wrap:break-word;
}
#u1413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1413 {
  position:absolute;
  left:807px;
  top:40px;
  width:200px;
  height:200px;
}
#u1414 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1415 {
  position:absolute;
  left:1007px;
  top:40px;
  width:100px;
  height:200px;
}
#u1416 {
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1417 {
  position:absolute;
  left:1107px;
  top:40px;
  width:100px;
  height:200px;
}
#u1418 {
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
}
#u1419 {
  position:absolute;
  left:1207px;
  top:40px;
  width:400px;
  height:200px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:92px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:200px;
}
#u1421 {
  position:absolute;
  left:0px;
  top:240px;
  width:47px;
  height:200px;
}
#u1422 {
  position:absolute;
  left:2px;
  top:92px;
  width:43px;
  word-wrap:break-word;
}
#u1423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:200px;
}
#u1423 {
  position:absolute;
  left:47px;
  top:240px;
  width:180px;
  height:200px;
}
#u1424 {
  position:absolute;
  left:2px;
  top:91px;
  width:176px;
  word-wrap:break-word;
}
#u1425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:200px;
}
#u1425 {
  position:absolute;
  left:227px;
  top:240px;
  width:150px;
  height:200px;
}
#u1426 {
  position:absolute;
  left:2px;
  top:91px;
  width:146px;
  word-wrap:break-word;
}
#u1427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:200px;
}
#u1427 {
  position:absolute;
  left:377px;
  top:240px;
  width:180px;
  height:200px;
}
#u1428 {
  position:absolute;
  left:2px;
  top:92px;
  width:176px;
  word-wrap:break-word;
}
#u1429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u1429 {
  position:absolute;
  left:557px;
  top:240px;
  width:250px;
  height:200px;
}
#u1430 {
  position:absolute;
  left:2px;
  top:77px;
  width:246px;
  word-wrap:break-word;
}
#u1431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1431 {
  position:absolute;
  left:807px;
  top:240px;
  width:200px;
  height:200px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1433 {
  position:absolute;
  left:1007px;
  top:240px;
  width:100px;
  height:200px;
}
#u1434 {
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1435 {
  position:absolute;
  left:1107px;
  top:240px;
  width:100px;
  height:200px;
}
#u1436 {
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
}
#u1437 {
  position:absolute;
  left:1207px;
  top:240px;
  width:400px;
  height:200px;
}
#u1438 {
  position:absolute;
  left:2px;
  top:92px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:200px;
}
#u1439 {
  position:absolute;
  left:0px;
  top:440px;
  width:47px;
  height:200px;
}
#u1440 {
  position:absolute;
  left:2px;
  top:92px;
  width:43px;
  word-wrap:break-word;
}
#u1441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:200px;
}
#u1441 {
  position:absolute;
  left:47px;
  top:440px;
  width:180px;
  height:200px;
}
#u1442 {
  position:absolute;
  left:2px;
  top:92px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:200px;
}
#u1443 {
  position:absolute;
  left:227px;
  top:440px;
  width:150px;
  height:200px;
}
#u1444 {
  position:absolute;
  left:2px;
  top:92px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:200px;
}
#u1445 {
  position:absolute;
  left:377px;
  top:440px;
  width:180px;
  height:200px;
}
#u1446 {
  position:absolute;
  left:2px;
  top:92px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u1447 {
  position:absolute;
  left:557px;
  top:440px;
  width:250px;
  height:200px;
}
#u1448 {
  position:absolute;
  left:2px;
  top:92px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1449 {
  position:absolute;
  left:807px;
  top:440px;
  width:200px;
  height:200px;
}
#u1450 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1451 {
  position:absolute;
  left:1007px;
  top:440px;
  width:100px;
  height:200px;
}
#u1452 {
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1453 {
  position:absolute;
  left:1107px;
  top:440px;
  width:100px;
  height:200px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
}
#u1455 {
  position:absolute;
  left:1207px;
  top:440px;
  width:400px;
  height:200px;
}
#u1456 {
  position:absolute;
  left:2px;
  top:92px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1458 {
  position:absolute;
  left:250px;
  top:75px;
  width:181px;
  height:35px;
  color:#999999;
  text-align:left;
}
#u1459 {
  position:absolute;
  left:2px;
  top:8px;
  width:177px;
  word-wrap:break-word;
}
#u1460 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1461 {
  position:absolute;
  left:475px;
  top:75px;
  width:178px;
  height:35px;
}
#u1461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1461_input:disabled {
  color:grayText;
}
#u1462 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1463 {
  position:absolute;
  left:700px;
  top:75px;
  width:178px;
  height:35px;
}
#u1463_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1463_input:disabled {
  color:grayText;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 174, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1464 {
  position:absolute;
  left:1120px;
  top:75px;
  width:80px;
  height:35px;
  color:#FFFFFF;
}
#u1465 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 174, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1466 {
  position:absolute;
  left:1734px;
  top:75px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u1467 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 174, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1468 {
  position:absolute;
  left:1516px;
  top:274px;
  width:84px;
  height:35px;
  color:#FFFFFF;
}
#u1469 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u1470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 174, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1470 {
  position:absolute;
  left:1616px;
  top:274px;
  width:59px;
  height:35px;
  color:#FFFFFF;
}
#u1471 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 174, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1472 {
  position:absolute;
  left:1691px;
  top:274px;
  width:59px;
  height:35px;
  color:#FFFFFF;
}
#u1473 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u1474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(254, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1474 {
  position:absolute;
  left:1775px;
  top:274px;
  width:59px;
  height:35px;
  color:#FF0000;
}
#u1475 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u1476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:187px;
}
#u1476 {
  position:absolute;
  left:1098px;
  top:198px;
  width:138px;
  height:187px;
}
#u1477 {
  position:absolute;
  left:2px;
  top:86px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1478 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1479 {
  position:absolute;
  left:1389px;
  top:276px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u1479_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1479_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1480 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1481 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1479_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1482 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1483 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
  -webkit-box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
  box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
}
#u1484 {
  position:absolute;
  left:1411px;
  top:277px;
  width:27px;
  height:27px;
}
#u1485 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:187px;
}
#u1486 {
  position:absolute;
  left:1098px;
  top:395px;
  width:138px;
  height:187px;
}
#u1487 {
  position:absolute;
  left:2px;
  top:86px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 174, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1488 {
  position:absolute;
  left:1516px;
  top:491px;
  width:84px;
  height:35px;
  color:#FFFFFF;
}
#u1489 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u1490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 174, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1490 {
  position:absolute;
  left:1616px;
  top:491px;
  width:59px;
  height:35px;
  color:#FFFFFF;
}
#u1491 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u1492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 174, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1492 {
  position:absolute;
  left:1691px;
  top:491px;
  width:59px;
  height:35px;
  color:#FFFFFF;
}
#u1493 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u1494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:35px;
  background:inherit;
  background-color:rgba(254, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1494 {
  position:absolute;
  left:1775px;
  top:491px;
  width:59px;
  height:35px;
  color:#FF0000;
}
#u1495 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  word-wrap:break-word;
}
#u1496 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1497 {
  position:absolute;
  left:1389px;
  top:496px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u1497_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1497_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1498 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1499 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1497_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1497_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1500 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1501 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
  -webkit-box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
  box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
}
#u1502 {
  position:absolute;
  left:1411px;
  top:497px;
  width:27px;
  height:27px;
}
#u1503 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1504 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1505 {
  position:absolute;
  left:1276px;
  top:276px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u1505_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1505_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1506 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1507 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1505_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1505_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1508 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1509 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
  -webkit-box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
  box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
}
#u1510 {
  position:absolute;
  left:1298px;
  top:277px;
  width:27px;
  height:27px;
}
#u1511 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1512 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1513 {
  position:absolute;
  left:1276px;
  top:496px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u1513_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1513_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1514 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1515 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1513_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1513_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1516 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1517 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
  -webkit-box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
  box-shadow:2px 5px 5px rgba(161, 161, 161, 0.349019607843137);
}
#u1518 {
  position:absolute;
  left:1298px;
  top:497px;
  width:27px;
  height:27px;
}
#u1519 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1521 {
  position:absolute;
  left:900px;
  top:75px;
  width:178px;
  height:35px;
}
#u1521_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1521_input:disabled {
  color:grayText;
}
