body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:486px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:111px;
}
#u14130 {
  position:absolute;
  left:111px;
  top:0px;
  width:375px;
  height:111px;
}
#u14131 {
  position:absolute;
  left:2px;
  top:48px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:217px;
}
#u14132 {
  position:absolute;
  left:111px;
  top:111px;
  width:375px;
  height:217px;
}
#u14133 {
  position:absolute;
  left:2px;
  top:100px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:212px;
}
#u14134 {
  position:absolute;
  left:111px;
  top:328px;
  width:375px;
  height:212px;
}
#u14135 {
  position:absolute;
  left:2px;
  top:98px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:426px;
}
#u14136 {
  position:absolute;
  left:110px;
  top:540px;
  width:375px;
  height:426px;
}
#u14137 {
  position:absolute;
  left:2px;
  top:205px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
}
#u14138 {
  position:absolute;
  left:265px;
  top:74px;
  width:44px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u14139 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
#u14140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
}
#u14140 {
  position:absolute;
  left:341px;
  top:74px;
  width:44px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u14141 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
#u14142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
}
#u14142 {
  position:absolute;
  left:415px;
  top:74px;
  width:43px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u14143 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u14144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:33px;
}
#u14144 {
  position:absolute;
  left:260px;
  top:705px;
  width:118px;
  height:32px;
}
#u14145 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14146 {
  position:absolute;
  left:333px;
  top:132px;
  width:129px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14147 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u14148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(92, 204, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(92, 204, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:42px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14148 {
  position:absolute;
  left:380px;
  top:281px;
  width:83px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14149 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u14150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#54C9E8;
  text-align:right;
}
#u14150 {
  position:absolute;
  left:358px;
  top:344px;
  width:104px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#54C9E8;
  text-align:right;
}
#u14151 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u14152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(92, 204, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(92, 204, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:42px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14152 {
  position:absolute;
  left:379px;
  top:494px;
  width:83px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14153 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u14154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:42px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u14154 {
  position:absolute;
  left:287px;
  top:281px;
  width:83px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u14155 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u14156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14156 {
  position:absolute;
  left:265px;
  top:492px;
  width:106px;
  height:32px;
}
#u14157 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#54C9E8;
  text-align:right;
}
#u14158 {
  position:absolute;
  left:359px;
  top:557px;
  width:104px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#54C9E8;
  text-align:right;
}
#u14159 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u14160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(92, 204, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(92, 204, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:42px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14160 {
  position:absolute;
  left:378px;
  top:708px;
  width:83px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14161 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u14162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#54C9E8;
  text-align:right;
}
#u14162 {
  position:absolute;
  left:358px;
  top:772px;
  width:104px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#54C9E8;
  text-align:right;
}
#u14163 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u14164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(92, 204, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(92, 204, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:42px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14164 {
  position:absolute;
  left:378px;
  top:919px;
  width:83px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14165 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u14166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(92, 204, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(92, 204, 233, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:42px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14166 {
  position:absolute;
  left:194px;
  top:281px;
  width:83px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14167 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
