body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:741px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:719px;
}
#u12885 {
  position:absolute;
  left:36px;
  top:12px;
  width:705px;
  height:719px;
}
#u12886 {
  position:absolute;
  left:2px;
  top:352px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
