body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:466px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 174, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1012 {
  position:absolute;
  left:1791px;
  top:165px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#FFFFFF;
}
#u1013 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#00AEEF;
}
#u1014 {
  position:absolute;
  left:1409px;
  top:134px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#00AEEF;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1016 {
  position:absolute;
  left:222px;
  top:279px;
  width:35px;
  height:669px;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:17px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:82px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:50px;
  width:30px;
  height:82px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:33px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:82px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:132px;
  width:30px;
  height:82px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:33px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:82px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:214px;
  width:30px;
  height:82px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:33px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:82px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:296px;
  width:30px;
  height:82px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:33px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:82px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:378px;
  width:30px;
  height:82px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:33px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:82px;
}
#u1029 {
  position:absolute;
  left:0px;
  top:460px;
  width:30px;
  height:82px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:33px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:82px;
}
#u1031 {
  position:absolute;
  left:0px;
  top:542px;
  width:30px;
  height:82px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:33px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u1033 {
  position:absolute;
  left:0px;
  top:624px;
  width:30px;
  height:40px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:12px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1667px;
  height:669px;
}
#u1035 {
  position:absolute;
  left:253px;
  top:280px;
  width:1667px;
  height:669px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:326px;
  width:1663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037 {
  position:absolute;
  left:229px;
  top:300px;
  width:16px;
  height:16px;
}
#u1038 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1039 {
  position:absolute;
  left:229px;
  top:364px;
  width:16px;
  height:16px;
}
#u1040 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1041 {
  position:absolute;
  left:229px;
  top:442px;
  width:16px;
  height:16px;
}
#u1042 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1043 {
  position:absolute;
  left:229px;
  top:525px;
  width:16px;
  height:16px;
}
#u1044 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1045 {
  position:absolute;
  left:229px;
  top:603px;
  width:16px;
  height:16px;
}
#u1046 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1047 {
  position:absolute;
  left:229px;
  top:690px;
  width:16px;
  height:16px;
}
#u1048 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1049 {
  position:absolute;
  left:229px;
  top:775px;
  width:16px;
  height:16px;
}
#u1050 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1051 {
  position:absolute;
  left:229px;
  top:850px;
  width:16px;
  height:16px;
}
#u1052 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1053 {
  position:absolute;
  left:229px;
  top:927px;
  width:16px;
  height:16px;
}
#u1054 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
