body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:781px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  position:absolute;
  left:-42px;
  top:-16px;
  width:182px;
  height:781px;
}
#u202 {
  position:absolute;
  left:2px;
  top:382px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:38px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:37px;
}
#u204 {
  position:absolute;
  left:2px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u205 {
  position:absolute;
  left:1120px;
  top:6px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u206 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u207 {
  position:absolute;
  left:1095px;
  top:7px;
  width:25px;
  height:22px;
}
#u208 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u209 {
  position:absolute;
  left:1218px;
  top:6px;
  width:54px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u210 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u211 {
  position:absolute;
  left:12px;
  top:53px;
  width:103px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u212 {
  position:absolute;
  left:2px;
  top:5px;
  width:99px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:12px;
  top:80px;
  width:103px;
  height:88px;
  overflow:hidden;
  visibility:hidden;
}
#u213_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u213_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u215 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
}
#u216 {
  position:absolute;
  left:0px;
  top:29px;
  width:103px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u217 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:31px;
}
#u218 {
  position:absolute;
  left:0px;
  top:58px;
  width:103px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u219 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:150px;
}
#u220 {
  position:absolute;
  left:179px;
  top:73px;
  width:512px;
  height:149px;
  text-align:left;
}
#u221 {
  position:absolute;
  left:2px;
  top:2px;
  width:508px;
  word-wrap:break-word;
}
