body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:469px;
}
#u6751 {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:469px;
}
#u6752 {
  position:absolute;
  left:2px;
  top:226px;
  width:905px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:899px;
  height:462px;
}
#u6753 {
  position:absolute;
  left:0px;
  top:515px;
  width:899px;
  height:462px;
}
#u6754 {
  position:absolute;
  left:2px;
  top:223px;
  width:895px;
  visibility:hidden;
  word-wrap:break-word;
}
