body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1538px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1208 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:300px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1209 {
  position:absolute;
  left:20px;
  top:142px;
  width:1078px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u1211 {
  position:absolute;
  left:20px;
  top:11px;
  width:1080px;
  word-wrap:break-word;
}
#u1212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:15px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1214 {
  position:absolute;
  left:37px;
  top:93px;
  width:600px;
  height:15px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1215 {
  position:absolute;
  left:12px;
  top:0px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1216 {
  position:absolute;
  left:37px;
  top:93px;
  width:180px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1217 {
  position:absolute;
  left:2px;
  top:0px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1218 {
  position:absolute;
  left:637px;
  top:90px;
  width:50px;
  height:20px;
  font-size:12px;
  text-align:center;
  line-height:16px;
}
#u1219 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1221 {
  position:absolute;
  left:637px;
  top:138px;
  width:50px;
  height:20px;
  font-size:12px;
  text-align:center;
  line-height:16px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:15px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1224 {
  position:absolute;
  left:37px;
  top:140px;
  width:600px;
  height:15px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1225 {
  position:absolute;
  left:12px;
  top:0px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1226 {
  position:absolute;
  left:37px;
  top:140px;
  width:300px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1227 {
  position:absolute;
  left:2px;
  top:0px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:15px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1230 {
  position:absolute;
  left:37px;
  top:187px;
  width:600px;
  height:15px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1231 {
  position:absolute;
  left:12px;
  top:0px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 59, 48, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1232 {
  position:absolute;
  left:37px;
  top:187px;
  width:400px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1233 {
  position:absolute;
  left:2px;
  top:0px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1234 {
  position:absolute;
  left:637px;
  top:185px;
  width:50px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FF3B30;
  text-align:center;
  line-height:16px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:15px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1238 {
  position:absolute;
  left:37px;
  top:230px;
  width:600px;
  height:15px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1239 {
  position:absolute;
  left:12px;
  top:0px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:15px;
  background:inherit;
  background-color:rgba(75, 216, 99, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1240 {
  position:absolute;
  left:37px;
  top:230px;
  width:600px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:0px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1242 {
  position:absolute;
  left:637px;
  top:228px;
  width:50px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#4BD863;
  text-align:center;
  line-height:16px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1246 {
  position:absolute;
  left:725px;
  top:94px;
  width:300px;
  height:8px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1247 {
  position:absolute;
  left:12px;
  top:-4px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1248 {
  position:absolute;
  left:725px;
  top:94px;
  width:90px;
  height:8px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:-4px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u1250 {
  position:absolute;
  left:1034px;
  top:93px;
  width:30px;
  height:10px;
  font-size:10px;
  text-align:center;
  line-height:16px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u1252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u1253 {
  position:absolute;
  left:1034px;
  top:144px;
  width:30px;
  height:10px;
  font-size:10px;
  text-align:center;
  line-height:16px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u1255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1256 {
  position:absolute;
  left:725px;
  top:145px;
  width:300px;
  height:8px;
  font-size:10px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1257 {
  position:absolute;
  left:12px;
  top:-4px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  line-height:16px;
}
#u1258 {
  position:absolute;
  left:725px;
  top:145px;
  width:150px;
  height:8px;
  font-size:10px;
  color:#FFFFFF;
  line-height:16px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:-4px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1262 {
  position:absolute;
  left:725px;
  top:191px;
  width:300px;
  height:8px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1263 {
  position:absolute;
  left:12px;
  top:-4px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 59, 48, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1264 {
  position:absolute;
  left:725px;
  top:191px;
  width:200px;
  height:8px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1265 {
  position:absolute;
  left:2px;
  top:-4px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u1266 {
  position:absolute;
  left:1035px;
  top:190px;
  width:30px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FF3B30;
  text-align:center;
  line-height:16px;
}
#u1267 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1270 {
  position:absolute;
  left:725px;
  top:234px;
  width:300px;
  height:8px;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u1271 {
  position:absolute;
  left:12px;
  top:-4px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
  background:inherit;
  background-color:rgba(75, 216, 99, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1272 {
  position:absolute;
  left:725px;
  top:234px;
  width:300px;
  height:8px;
  font-size:12px;
  color:#FFFFFF;
  line-height:16px;
}
#u1273 {
  position:absolute;
  left:2px;
  top:-4px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u1274 {
  position:absolute;
  left:1035px;
  top:233px;
  width:30px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#4BD863;
  text-align:center;
  line-height:16px;
}
#u1275 {
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u1276 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1277 {
  position:absolute;
  left:28px;
  top:340px;
  width:300px;
  height:14px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:-1px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1279 {
  position:absolute;
  left:28px;
  top:340px;
  width:90px;
  height:14px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:-1px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1281 {
  position:absolute;
  left:328px;
  top:338px;
  width:48px;
  height:15px;
}
#u1282 {
  position:absolute;
  left:12px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1283 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1284 {
  position:absolute;
  left:28px;
  top:468px;
  width:100px;
  height:100px;
}
#u1285 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1286 {
  position:absolute;
  left:30px;
  top:510px;
  width:98px;
  height:18px;
  font-size:16px;
  text-align:center;
}
#u1287 {
  position:absolute;
  left:12px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1289 {
  position:absolute;
  left:148px;
  top:468px;
  width:100px;
  height:100px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1291 {
  position:absolute;
  left:198px;
  top:468px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1293 {
  position:absolute;
  left:150px;
  top:510px;
  width:98px;
  height:18px;
  font-size:16px;
  text-align:center;
}
#u1294 {
  position:absolute;
  left:12px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u1295 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1296 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1297 {
  position:absolute;
  left:28px;
  top:398px;
  width:300px;
  height:20px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1299 {
  position:absolute;
  left:28px;
  top:398px;
  width:37px;
  height:20px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u1301 {
  position:absolute;
  left:28px;
  top:398px;
  width:37px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u1302 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u1303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1305 {
  position:absolute;
  left:398px;
  top:398px;
  width:300px;
  height:20px;
}
#u1306 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1307 {
  position:absolute;
  left:398px;
  top:398px;
  width:90px;
  height:20px;
}
#u1308 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u1309 {
  position:absolute;
  left:438px;
  top:398px;
  width:50px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u1310 {
  position:absolute;
  left:12px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1312 {
  position:absolute;
  left:398px;
  top:340px;
  width:300px;
  height:14px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:-1px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1314 {
  position:absolute;
  left:398px;
  top:340px;
  width:90px;
  height:14px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:-1px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1316 {
  position:absolute;
  left:698px;
  top:338px;
  width:48px;
  height:15px;
}
#u1317 {
  position:absolute;
  left:12px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1320 {
  position:absolute;
  left:758px;
  top:398px;
  width:300px;
  height:20px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(18, 206, 102, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1322 {
  position:absolute;
  left:758px;
  top:398px;
  width:300px;
  height:20px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u1324 {
  position:absolute;
  left:972px;
  top:398px;
  width:86px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u1325 {
  position:absolute;
  left:12px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1328 {
  position:absolute;
  left:1118px;
  top:398px;
  width:300px;
  height:20px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 73, 72, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1330 {
  position:absolute;
  left:1118px;
  top:398px;
  width:150px;
  height:20px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u1332 {
  position:absolute;
  left:1218px;
  top:398px;
  width:50px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u1333 {
  position:absolute;
  left:12px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1334 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1335 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:14px;
  background:inherit;
  background-color:rgba(18, 206, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1336 {
  position:absolute;
  left:788px;
  top:341px;
  width:300px;
  height:14px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:-1px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:14px;
  background:inherit;
  background-color:rgba(18, 206, 102, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1338 {
  position:absolute;
  left:788px;
  top:341px;
  width:300px;
  height:14px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:-1px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1340 {
  position:absolute;
  left:1088px;
  top:339px;
  width:48px;
  height:18px;
}
#u1341 {
  position:absolute;
  left:12px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1342 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1343 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1344 {
  position:absolute;
  left:1190px;
  top:341px;
  width:300px;
  height:14px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:-1px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 73, 72, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1346 {
  position:absolute;
  left:1190px;
  top:341px;
  width:150px;
  height:14px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:-1px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1348 {
  position:absolute;
  left:1490px;
  top:338px;
  width:48px;
  height:18px;
}
#u1349 {
  position:absolute;
  left:12px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1351 {
  position:absolute;
  left:272px;
  top:468px;
  width:100px;
  height:100px;
}
#u1352 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1353 {
  position:absolute;
  left:274px;
  top:508px;
  width:98px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u1354 {
  position:absolute;
  left:12px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u1355 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1356 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1357 {
  position:absolute;
  left:392px;
  top:468px;
  width:100px;
  height:100px;
}
#u1358 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1359 {
  position:absolute;
  left:394px;
  top:508px;
  width:98px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u1360 {
  position:absolute;
  left:12px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:100px;
}
#u1361 {
  position:absolute;
  left:442px;
  top:468px;
  width:50px;
  height:100px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:42px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
