body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u1522 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u1523 {
  position:absolute;
  left:2px;
  top:466px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1666px;
  height:874px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1524 {
  position:absolute;
  left:234px;
  top:75px;
  width:1666px;
  height:874px;
}
#u1525 {
  position:absolute;
  left:2px;
  top:429px;
  width:1662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1526 {
  position:absolute;
  left:300px;
  top:131px;
  width:70px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1527 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1528 {
  position:absolute;
  left:424px;
  top:125px;
  width:401px;
  height:37px;
}
#u1529 {
  position:absolute;
  left:2px;
  top:10px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1530 {
  position:absolute;
  left:300px;
  top:194px;
  width:70px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1531 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1532 {
  position:absolute;
  left:424px;
  top:188px;
  width:401px;
  height:37px;
}
#u1533 {
  position:absolute;
  left:2px;
  top:10px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1534 {
  position:absolute;
  left:300px;
  top:269px;
  width:70px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1535 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1536 {
  position:absolute;
  left:424px;
  top:263px;
  width:401px;
  height:37px;
}
#u1537 {
  position:absolute;
  left:2px;
  top:10px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
  background:inherit;
  background-color:rgba(238, 250, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(72, 197, 244, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00AEEF;
}
#u1538 {
  position:absolute;
  left:424px;
  top:390px;
  width:76px;
  height:35px;
  color:#00AEEF;
}
#u1539 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u1540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
  background:inherit;
  background-color:rgba(238, 250, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(72, 197, 244, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00AEEF;
}
#u1540 {
  position:absolute;
  left:524px;
  top:390px;
  width:114px;
  height:35px;
  color:#00AEEF;
}
#u1541 {
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u1542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1542 {
  position:absolute;
  left:835px;
  top:272px;
  width:71px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1543 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1544 {
  position:absolute;
  left:424px;
  top:325px;
  width:401px;
  height:37px;
}
#u1545 {
  position:absolute;
  left:2px;
  top:10px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1546 {
  position:absolute;
  left:835px;
  top:334px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1547 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
}
#u1548 {
  position:absolute;
  left:936px;
  top:270px;
  width:45px;
  height:24px;
}
#u1549 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
}
#u1550 {
  position:absolute;
  left:936px;
  top:332px;
  width:45px;
  height:24px;
}
#u1551 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u1552 {
  position:absolute;
  left:991px;
  top:271px;
  width:47px;
  height:23px;
}
#u1553 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:24px;
}
#u1554 {
  position:absolute;
  left:991px;
  top:332px;
  width:47px;
  height:24px;
}
#u1555 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1556 {
  position:absolute;
  left:300px;
  top:462px;
  width:70px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1557 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u1558 {
  position:absolute;
  left:424px;
  top:456px;
  width:214px;
  height:230px;
  font-size:36px;
}
#u1559 {
  position:absolute;
  left:2px;
  top:94px;
  width:210px;
  word-wrap:break-word;
}
#u1560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1560 {
  position:absolute;
  left:424px;
  top:706px;
  width:165px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1561 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u1562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
}
#u1562 {
  position:absolute;
  left:1375px;
  top:102px;
  width:375px;
  height:612px;
}
#u1563 {
  position:absolute;
  left:2px;
  top:298px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1564 {
  position:absolute;
  left:1250px;
  top:102px;
  width:70px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1565 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(238, 250, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 174, 239, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#48C5F4;
}
#u1566 {
  position:absolute;
  left:424px;
  top:840px;
  width:80px;
  height:35px;
  color:#48C5F4;
}
#u1567 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(238, 250, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 174, 239, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#48C5F4;
}
#u1568 {
  position:absolute;
  left:539px;
  top:840px;
  width:80px;
  height:35px;
  color:#48C5F4;
}
#u1569 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u1570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1570 {
  position:absolute;
  left:300px;
  top:769px;
  width:74px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1571 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1572 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1573 {
  position:absolute;
  left:424px;
  top:761px;
  width:401px;
  height:35px;
}
#u1573_input {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1573_input:disabled {
  color:grayText;
}
