body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1506px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u12926 {
  position:absolute;
  left:875px;
  top:729px;
  width:375px;
  height:666px;
}
#u12927 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:555px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.807843137254902);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12928 {
  position:absolute;
  left:875px;
  top:804px;
  width:375px;
  height:555px;
}
#u12929 {
  position:absolute;
  left:2px;
  top:270px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:70px;
}
#u12930 {
  position:absolute;
  left:1099px;
  top:871px;
  width:63px;
  height:70px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u12931 {
  position:absolute;
  left:2px;
  top:27px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:130px;
}
#u12932 {
  position:absolute;
  left:937px;
  top:955px;
  width:233px;
  height:130px;
}
#u12933 {
  position:absolute;
  left:2px;
  top:57px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12934 {
  position:absolute;
  left:973px;
  top:976px;
  width:164px;
  height:94px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12935 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u12936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u12936 {
  position:absolute;
  left:1152px;
  top:828px;
  width:98px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12937 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12938 {
  position:absolute;
  left:1169px;
  top:834px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12939 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:650px;
}
#u12941 {
  position:absolute;
  left:878px;
  top:43px;
  width:375px;
  height:650px;
}
#u12942 {
  position:absolute;
  left:2px;
  top:317px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.807843137254902);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12943 {
  position:absolute;
  left:878px;
  top:103px;
  width:375px;
  height:554px;
}
#u12944 {
  position:absolute;
  left:2px;
  top:269px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:88px;
}
#u12945 {
  position:absolute;
  left:975px;
  top:189px;
  width:90px;
  height:88px;
  -webkit-transform:rotate(280deg);
  -moz-transform:rotate(280deg);
  -ms-transform:rotate(280deg);
  transform:rotate(280deg);
}
#u12946 {
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:83px;
}
#u12947 {
  position:absolute;
  left:955px;
  top:295px;
  width:203px;
  height:83px;
}
#u12948 {
  position:absolute;
  left:2px;
  top:34px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12949 {
  position:absolute;
  left:987px;
  top:312px;
  width:140px;
  height:49px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12950 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u12951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
}
#u12951 {
  position:absolute;
  left:879px;
  top:146px;
  width:103px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12952 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:664px;
}
#u12954 {
  position:absolute;
  left:50px;
  top:29px;
  width:374px;
  height:664px;
}
#u12955 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.807843137254902);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12956 {
  position:absolute;
  left:49px;
  top:103px;
  width:375px;
  height:554px;
}
#u12957 {
  position:absolute;
  left:2px;
  top:269px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:69px;
}
#u12958 {
  position:absolute;
  left:211px;
  top:279px;
  width:73px;
  height:69px;
  -webkit-transform:rotate(110deg);
  -moz-transform:rotate(110deg);
  -ms-transform:rotate(110deg);
  transform:rotate(110deg);
}
#u12959 {
  position:absolute;
  left:2px;
  top:26px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:93px;
}
#u12960 {
  position:absolute;
  left:104px;
  top:177px;
  width:219px;
  height:93px;
}
#u12961 {
  position:absolute;
  left:2px;
  top:38px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12962 {
  position:absolute;
  left:163px;
  top:188px;
  width:102px;
  height:30px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12963 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u12964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12964 {
  position:absolute;
  left:273px;
  top:343px;
  width:30px;
  height:30px;
}
#u12965 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:664px;
}
#u12967 {
  position:absolute;
  left:459px;
  top:730px;
  width:374px;
  height:664px;
}
#u12968 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.807843137254902);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12969 {
  position:absolute;
  left:458px;
  top:804px;
  width:375px;
  height:554px;
}
#u12970 {
  position:absolute;
  left:2px;
  top:269px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
}
#u12971 {
  position:absolute;
  left:539px;
  top:919px;
  width:75px;
  height:60px;
  -webkit-transform:rotate(110deg);
  -moz-transform:rotate(110deg);
  -ms-transform:rotate(110deg);
  transform:rotate(110deg);
}
#u12972 {
  position:absolute;
  left:2px;
  top:22px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:74px;
}
#u12973 {
  position:absolute;
  left:519px;
  top:989px;
  width:185px;
  height:74px;
}
#u12974 {
  position:absolute;
  left:2px;
  top:29px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12975 {
  position:absolute;
  left:550px;
  top:1004px;
  width:131px;
  height:44px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12976 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u12977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:31px;
}
#u12977 {
  position:absolute;
  left:457px;
  top:873px;
  width:106px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12978 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u12979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:24px;
}
#u12979 {
  position:absolute;
  left:550px;
  top:866px;
  width:23px;
  height:24px;
}
#u12980 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:664px;
}
#u12982 {
  position:absolute;
  left:49px;
  top:730px;
  width:375px;
  height:664px;
}
#u12983 {
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.807843137254902);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12984 {
  position:absolute;
  left:49px;
  top:804px;
  width:375px;
  height:554px;
}
#u12985 {
  position:absolute;
  left:2px;
  top:269px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:88px;
}
#u12986 {
  position:absolute;
  left:224px;
  top:886px;
  width:90px;
  height:88px;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  transform:rotate(20deg);
}
#u12987 {
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:106px;
}
#u12988 {
  position:absolute;
  left:84px;
  top:964px;
  width:237px;
  height:106px;
}
#u12989 {
  position:absolute;
  left:2px;
  top:45px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12990 {
  position:absolute;
  left:116px;
  top:984px;
  width:192px;
  height:77px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12991 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u12992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u12992 {
  position:absolute;
  left:326px;
  top:867px;
  width:98px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12993 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12994 {
  position:absolute;
  left:342px;
  top:873px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12995 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:664px;
}
#u12997 {
  position:absolute;
  left:458px;
  top:29px;
  width:375px;
  height:664px;
}
#u12998 {
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.807843137254902);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12999 {
  position:absolute;
  left:458px;
  top:103px;
  width:375px;
  height:554px;
}
#u13000 {
  position:absolute;
  left:2px;
  top:269px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:88px;
}
#u13001 {
  position:absolute;
  left:563px;
  top:413px;
  width:90px;
  height:88px;
  -webkit-transform:rotate(100deg);
  -moz-transform:rotate(100deg);
  -ms-transform:rotate(100deg);
  transform:rotate(100deg);
}
#u13002 {
  position:absolute;
  left:2px;
  top:36px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:83px;
}
#u13003 {
  position:absolute;
  left:497px;
  top:312px;
  width:203px;
  height:83px;
}
#u13004 {
  position:absolute;
  left:2px;
  top:34px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13005 {
  position:absolute;
  left:529px;
  top:329px;
  width:140px;
  height:49px;
  font-family:'DFWaWaSC-W5', 'Wawati SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13006 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u13007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:83px;
}
#u13009 {
  position:absolute;
  left:475px;
  top:520px;
  width:102px;
  height:82px;
}
#u13010 {
  position:absolute;
  left:2px;
  top:33px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:83px;
}
#u13011 {
  position:absolute;
  left:594px;
  top:519px;
  width:102px;
  height:82px;
}
#u13012 {
  position:absolute;
  left:2px;
  top:33px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:83px;
}
#u13013 {
  position:absolute;
  left:715px;
  top:518px;
  width:102px;
  height:82px;
}
#u13014 {
  position:absolute;
  left:2px;
  top:33px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13015 {
  position:absolute;
  left:484px;
  top:617px;
  width:84px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13016 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u13017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13017 {
  position:absolute;
  left:602px;
  top:616px;
  width:84px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13018 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u13019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13019 {
  position:absolute;
  left:724px;
  top:615px;
  width:84px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13020 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u13021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13021 {
  position:absolute;
  left:475px;
  top:520px;
  width:102px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13022 {
  position:absolute;
  left:2px;
  top:3px;
  width:98px;
  word-wrap:break-word;
}
#u13023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13023 {
  position:absolute;
  left:594px;
  top:519px;
  width:102px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13024 {
  position:absolute;
  left:2px;
  top:3px;
  width:98px;
  word-wrap:break-word;
}
#u13025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13025 {
  position:absolute;
  left:715px;
  top:518px;
  width:102px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13026 {
  position:absolute;
  left:2px;
  top:3px;
  width:98px;
  word-wrap:break-word;
}
#u13027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13027 {
  position:absolute;
  left:354px;
  top:117px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13028 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13029 {
  position:absolute;
  left:769px;
  top:117px;
  width:57px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13030 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13031 {
  position:absolute;
  left:1193px;
  top:131px;
  width:57px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13032 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13033 {
  position:absolute;
  left:354px;
  top:815px;
  width:57px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13034 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13035 {
  position:absolute;
  left:769px;
  top:815px;
  width:57px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13036 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13037 {
  position:absolute;
  left:885px;
  top:815px;
  width:57px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13038 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u13039 {
  position:absolute;
  left:1293px;
  top:93px;
  width:213px;
  height:240px;
}
#u13040 {
  position:absolute;
  left:10px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u13041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:81px;
}
#u13041 {
  position:absolute;
  left:49px;
  top:22px;
  width:375px;
  height:81px;
}
#u13042 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:81px;
}
#u13043 {
  position:absolute;
  left:458px;
  top:22px;
  width:375px;
  height:81px;
}
#u13044 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:81px;
}
#u13045 {
  position:absolute;
  left:879px;
  top:22px;
  width:375px;
  height:81px;
}
#u13046 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
