body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:884px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:481px;
}
#u6713 {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:481px;
}
#u6714 {
  position:absolute;
  left:2px;
  top:232px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:486px;
}
#u6715 {
  position:absolute;
  left:-9px;
  top:506px;
  width:893px;
  height:486px;
}
#u6716 {
  position:absolute;
  left:2px;
  top:235px;
  width:889px;
  visibility:hidden;
  word-wrap:break-word;
}
