body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1437px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:174px;
}
#u14940 {
  position:absolute;
  left:-1px;
  top:0px;
  width:176px;
  height:174px;
}
#u14941 {
  position:absolute;
  left:2px;
  top:79px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1px;
}
#u14942 {
  position:absolute;
  left:177px;
  top:0px;
  width:1261px;
  height:1px;
}
#u14943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:825px;
}
#u14944 {
  position:absolute;
  left:174px;
  top:0px;
  width:1261px;
  height:825px;
}
#u14945 {
  position:absolute;
  left:2px;
  top:404px;
  width:1257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:50px;
}
#u14946 {
  position:absolute;
  left:-1px;
  top:174px;
  width:176px;
  height:50px;
}
#u14947 {
  position:absolute;
  left:2px;
  top:17px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:651px;
}
#u14949 {
  position:absolute;
  left:-1px;
  top:324px;
  width:176px;
  height:651px;
}
#u14950 {
  position:absolute;
  left:2px;
  top:318px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:50px;
}
#u14952 {
  position:absolute;
  left:-1px;
  top:324px;
  width:176px;
  height:50px;
}
#u14953 {
  position:absolute;
  left:2px;
  top:17px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(48, 65, 86, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9BA8B8;
}
#u14954 {
  position:absolute;
  left:51px;
  top:188px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9BA8B8;
}
#u14955 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:50px;
}
#u14956 {
  position:absolute;
  left:-1px;
  top:224px;
  width:176px;
  height:50px;
}
#u14957 {
  position:absolute;
  left:2px;
  top:17px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:50px;
  background:inherit;
  background-color:rgba(1, 34, 59, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14958 {
  position:absolute;
  left:-1px;
  top:224px;
  width:176px;
  height:50px;
}
#u14959 {
  position:absolute;
  left:2px;
  top:17px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(1, 34, 59, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9BA8B8;
}
#u14960 {
  position:absolute;
  left:16px;
  top:239px;
  width:123px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#9BA8B8;
}
#u14961 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u14962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
}
#u14962 {
  position:absolute;
  left:125px;
  top:184px;
  width:49px;
  height:35px;
}
#u14963 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14964 {
  position:absolute;
  left:224px;
  top:14px;
  width:64px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14965 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u14966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u14966 {
  position:absolute;
  left:304px;
  top:14px;
  width:64px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u14967 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u14968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14968 {
  position:absolute;
  left:195px;
  top:79px;
  width:303px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14969 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  word-wrap:break-word;
}
#u14970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:27px;
  background:inherit;
  background-color:rgba(65, 157, 247, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14970 {
  position:absolute;
  left:1313px;
  top:315px;
  width:67px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14971 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u14972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14972 {
  position:absolute;
  left:-1px;
  top:274px;
  width:176px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14973 {
  position:absolute;
  left:2px;
  top:16px;
  width:172px;
  word-wrap:break-word;
}
#u14974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:455px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14974 {
  position:absolute;
  left:185px;
  top:131px;
  width:1233px;
  height:455px;
}
#u14975 {
  position:absolute;
  left:2px;
  top:220px;
  width:1229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u14976 {
  position:absolute;
  left:195px;
  top:126px;
  width:300px;
  height:292px;
  font-size:14px;
}
#u14977 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u14978 {
  position:absolute;
  left:191px;
  top:156px;
  width:200px;
  height:1px;
}
#u14979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u14980 {
  position:absolute;
  left:191px;
  top:441px;
  width:200px;
  height:1px;
}
#u14981 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14982 {
  position:absolute;
  left:195px;
  top:452px;
  width:300px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14983 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14984 {
  position:absolute;
  left:191px;
  top:482px;
  width:729px;
  height:78px;
}
#u14985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u14985 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u14986 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u14987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u14987 {
  position:absolute;
  left:181px;
  top:0px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14988 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u14989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u14989 {
  position:absolute;
  left:362px;
  top:0px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14990 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u14991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u14991 {
  position:absolute;
  left:543px;
  top:0px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14992 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u14993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:44px;
}
#u14993 {
  position:absolute;
  left:0px;
  top:29px;
  width:181px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14994 {
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u14995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:44px;
}
#u14995 {
  position:absolute;
  left:181px;
  top:29px;
  width:181px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14996 {
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u14997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:44px;
}
#u14997 {
  position:absolute;
  left:362px;
  top:29px;
  width:181px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u14998 {
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u14999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:44px;
}
#u14999 {
  position:absolute;
  left:543px;
  top:29px;
  width:181px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15000 {
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u15001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u15001 {
  position:absolute;
  left:191px;
  top:585px;
  width:200px;
  height:1px;
}
#u15002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15003 {
  position:absolute;
  left:191px;
  top:596px;
  width:300px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15004 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u15005 {
  position:absolute;
  left:191px;
  top:626px;
  width:1091px;
  height:92px;
}
#u15006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15006 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15007 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15008 {
  position:absolute;
  left:181px;
  top:0px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15009 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15010 {
  position:absolute;
  left:362px;
  top:0px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15011 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15012 {
  position:absolute;
  left:543px;
  top:0px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15013 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15014 {
  position:absolute;
  left:724px;
  top:0px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15015 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15016 {
  position:absolute;
  left:905px;
  top:0px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15017 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15018 {
  position:absolute;
  left:0px;
  top:29px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15019 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15020 {
  position:absolute;
  left:181px;
  top:29px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15021 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15022 {
  position:absolute;
  left:362px;
  top:29px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15023 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15024 {
  position:absolute;
  left:543px;
  top:29px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15025 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15026 {
  position:absolute;
  left:724px;
  top:29px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15027 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15028 {
  position:absolute;
  left:905px;
  top:29px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15029 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15030 {
  position:absolute;
  left:0px;
  top:58px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15031 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15032 {
  position:absolute;
  left:181px;
  top:58px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15033 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15034 {
  position:absolute;
  left:362px;
  top:58px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15035 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15036 {
  position:absolute;
  left:543px;
  top:58px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15037 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15038 {
  position:absolute;
  left:724px;
  top:58px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15039 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:29px;
}
#u15040 {
  position:absolute;
  left:905px;
  top:58px;
  width:181px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15041 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u15042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15042 {
  position:absolute;
  left:1278px;
  top:59px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15043 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
