body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:484px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:81px;
}
#u14174 {
  position:absolute;
  left:109px;
  top:0px;
  width:375px;
  height:81px;
}
#u14175 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14176 {
  position:absolute;
  left:109px;
  top:81px;
  width:380px;
  height:35px;
}
#u14177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u14177 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14178 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u14179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u14179 {
  position:absolute;
  left:94px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14180 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u14181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u14181 {
  position:absolute;
  left:188px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14182 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u14183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u14183 {
  position:absolute;
  left:282px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14184 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u14185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:574px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14185 {
  position:absolute;
  left:109px;
  top:111px;
  width:375px;
  height:574px;
}
#u14186 {
  position:absolute;
  left:2px;
  top:279px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14188 {
  position:absolute;
  left:120px;
  top:121px;
  width:354px;
  height:156px;
}
#u14189 {
  position:absolute;
  left:2px;
  top:70px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:77px;
}
#u14190 {
  position:absolute;
  left:133px;
  top:136px;
  width:84px;
  height:76px;
}
#u14191 {
  position:absolute;
  left:2px;
  top:30px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u14192 {
  position:absolute;
  left:245px;
  top:134px;
  width:145px;
  height:18px;
  font-size:13px;
}
#u14193 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u14194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14194 {
  position:absolute;
  left:245px;
  top:157px;
  width:125px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14195 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u14196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14196 {
  position:absolute;
  left:245px;
  top:198px;
  width:111px;
  height:29px;
}
#u14197 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u14198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14198 {
  position:absolute;
  left:404px;
  top:198px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14199 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u14200 {
  position:absolute;
  left:133px;
  top:231px;
  width:328px;
  height:1px;
}
#u14201 {
  position:absolute;
  left:2px;
  top:-8px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14202 {
  position:absolute;
  left:253px;
  top:239px;
  width:94px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14203 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u14204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14204 {
  position:absolute;
  left:358px;
  top:239px;
  width:94px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14205 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u14206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14207 {
  position:absolute;
  left:120px;
  top:289px;
  width:354px;
  height:156px;
}
#u14208 {
  position:absolute;
  left:2px;
  top:70px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:77px;
}
#u14209 {
  position:absolute;
  left:133px;
  top:304px;
  width:84px;
  height:76px;
}
#u14210 {
  position:absolute;
  left:2px;
  top:30px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u14211 {
  position:absolute;
  left:245px;
  top:302px;
  width:145px;
  height:18px;
  font-size:13px;
}
#u14212 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u14213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14213 {
  position:absolute;
  left:245px;
  top:325px;
  width:125px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14214 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u14215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14215 {
  position:absolute;
  left:245px;
  top:366px;
  width:111px;
  height:29px;
}
#u14216 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u14217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14217 {
  position:absolute;
  left:404px;
  top:366px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14218 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u14219 {
  position:absolute;
  left:133px;
  top:399px;
  width:328px;
  height:1px;
}
#u14220 {
  position:absolute;
  left:2px;
  top:-8px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14221 {
  position:absolute;
  left:253px;
  top:407px;
  width:94px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14222 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u14223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14223 {
  position:absolute;
  left:358px;
  top:407px;
  width:94px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14224 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u14225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14226 {
  position:absolute;
  left:120px;
  top:459px;
  width:354px;
  height:156px;
}
#u14227 {
  position:absolute;
  left:2px;
  top:70px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:77px;
}
#u14228 {
  position:absolute;
  left:133px;
  top:474px;
  width:84px;
  height:76px;
}
#u14229 {
  position:absolute;
  left:2px;
  top:30px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u14230 {
  position:absolute;
  left:245px;
  top:472px;
  width:145px;
  height:18px;
  font-size:13px;
}
#u14231 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u14232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14232 {
  position:absolute;
  left:245px;
  top:495px;
  width:125px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14233 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u14234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14234 {
  position:absolute;
  left:245px;
  top:536px;
  width:111px;
  height:29px;
}
#u14235 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u14236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14236 {
  position:absolute;
  left:404px;
  top:536px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14237 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u14238 {
  position:absolute;
  left:133px;
  top:569px;
  width:328px;
  height:1px;
}
#u14239 {
  position:absolute;
  left:2px;
  top:-8px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14240 {
  position:absolute;
  left:253px;
  top:577px;
  width:94px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14241 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u14242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14242 {
  position:absolute;
  left:358px;
  top:577px;
  width:94px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14243 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u14244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:11px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14244 {
  position:absolute;
  left:420px;
  top:625px;
  width:41px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14245 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
