body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u789 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:949px;
}
#u790 {
  position:absolute;
  left:2px;
  top:466px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:678px;
}
#u791 {
  position:absolute;
  left:262px;
  top:0px;
  width:1064px;
  height:678px;
}
#u792 {
  position:absolute;
  left:2px;
  top:331px;
  width:1060px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u793 {
  position:absolute;
  left:300px;
  top:688px;
  width:80px;
  height:62px;
}
#u794 {
  position:absolute;
  left:2px;
  top:23px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u795 {
  position:absolute;
  left:305px;
  top:708px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#666666;
}
#u796 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797 {
  position:absolute;
  left:557px;
  top:688px;
  width:325px;
  height:62px;
}
#u798 {
  position:absolute;
  left:2px;
  top:23px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  position:absolute;
  left:416px;
  top:688px;
  width:84px;
  height:62px;
}
#u800 {
  position:absolute;
  left:2px;
  top:23px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u801 {
  position:absolute;
  left:421px;
  top:706px;
  width:55px;
  height:25px;
  font-size:18px;
  color:#666666;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00AEEF;
}
#u803 {
  position:absolute;
  left:556px;
  top:705px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#00AEEF;
}
#u804 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
