body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:115px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 55, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:50px;
  width:1250px;
  height:40px;
  overflow:hidden;
  visibility:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:230px;
  top:0px;
  width:197px;
  height:40px;
  color:#FFFFFF;
}
#u8_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8.mouseOver {
}
#u8_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:428px;
  top:0px;
  width:197px;
  height:40px;
  color:#FFFFFF;
}
#u10_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10.mouseOver {
}
#u10_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:625px;
  top:0px;
  width:197px;
  height:40px;
  color:#FFFFFF;
}
#u12_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12.mouseOver {
}
#u12_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:822px;
  top:0px;
  width:197px;
  height:40px;
  color:#FFFFFF;
}
#u14_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14.mouseOver {
}
#u14_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14.selected {
}
#u15 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u4_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:353px;
  top:0px;
  width:197px;
  height:40px;
  color:#FFFFFF;
}
#u19_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19.mouseOver {
}
#u19_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19.selected {
}
#u20 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:550px;
  top:0px;
  width:197px;
  height:40px;
  color:#FFFFFF;
}
#u21_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21.mouseOver {
}
#u21_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:747px;
  top:0px;
  width:197px;
  height:40px;
  color:#FFFFFF;
}
#u23_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23.mouseOver {
}
#u23_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u4_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:40px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:329px;
  top:0px;
  width:197px;
  height:40px;
  color:#FFFFFF;
}
#u28_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28.mouseOver {
}
#u28_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:723px;
  top:0px;
  width:197px;
  height:40px;
  color:#FFFFFF;
}
#u30_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u30.mouseOver {
}
#u30_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u30.selected {
}
#u31 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:920px;
  top:0px;
  width:197px;
  height:40px;
  color:#FFFFFF;
}
#u32_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u32.mouseOver {
}
#u32_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u32.selected {
}
#u33 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:132px;
  top:0px;
  width:197px;
  height:40px;
  color:#FFFFFF;
}
#u34_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u34.mouseOver {
}
#u34_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u34.selected {
}
#u35 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u36 {
  position:absolute;
  left:526px;
  top:0px;
  width:197px;
  height:40px;
  color:#FFFFFF;
}
#u36_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u36.mouseOver {
}
#u36_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(95, 184, 120, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u36.selected {
}
#u37 {
  position:absolute;
  left:2px;
  top:11px;
  width:193px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 55, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u38 {
  position:absolute;
  left:339px;
  top:0px;
  width:150px;
  height:50px;
  color:#FFFFFF;
}
#u38_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u38.mouseOver {
}
#u38_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u38.selected {
}
#u39 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 55, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u40 {
  position:absolute;
  left:550px;
  top:0px;
  width:150px;
  height:50px;
  color:#FFFFFF;
}
#u40_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u40.mouseOver {
}
#u40_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u40.selected {
}
#u41 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 55, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42 {
  position:absolute;
  left:771px;
  top:0px;
  width:150px;
  height:50px;
  color:#FFFFFF;
}
#u42_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42.mouseOver {
}
#u42_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42.selected {
}
#u43 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 55, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:50px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:50px;
}
#u47 {
  position:absolute;
  left:2px;
  top:17px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:415px;
}
#u48 {
  position:absolute;
  left:215px;
  top:186px;
  width:820px;
  height:415px;
}
#u49 {
  position:absolute;
  left:2px;
  top:29px;
  width:816px;
  word-wrap:break-word;
}
