body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:703px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u13382 {
  position:absolute;
  left:72px;
  top:31px;
  width:375px;
  height:667px;
}
#u13383 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:556px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13384 {
  position:absolute;
  left:72px;
  top:106px;
  width:375px;
  height:556px;
}
#u13385 {
  position:absolute;
  left:2px;
  top:270px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:117px;
}
#u13386 {
  position:absolute;
  left:72px;
  top:106px;
  width:375px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13387 {
  position:absolute;
  left:2px;
  top:49px;
  width:371px;
  word-wrap:break-word;
}
#u13388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13388 {
  position:absolute;
  left:81px;
  top:241px;
  width:289px;
  height:26px;
}
#u13389 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u13390 {
  position:absolute;
  left:380px;
  top:241px;
  width:64px;
  height:19px;
}
#u13390_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13391 {
  position:absolute;
  left:81px;
  top:274px;
  width:299px;
  height:26px;
}
#u13392 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u13393 {
  position:absolute;
  left:380px;
  top:276px;
  width:64px;
  height:19px;
}
#u13393_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u13394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:81px;
}
#u13394 {
  position:absolute;
  left:72px;
  top:25px;
  width:375px;
  height:81px;
}
#u13395 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13396 {
  position:absolute;
  left:494px;
  top:216px;
  width:209px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13397 {
  position:absolute;
  left:10px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
